{% extends "base.html" %}
{% block content %}
{% load style-forms %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <fieldset class="form-group">
            {{ field.label }}
            {{ field | addClass:"form-control" }}
        </fieldset>
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
