{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<section class="section" style="min-height: 80vh;">
    <div class="container">
        <p style="padding-bottom: 2rem;">
        <a class="button is-primary" href="{% url 'boards:board-detail' thread.board.slug %}">
            <span class="icon">
                <i class="fa fa-mail-reply"></i>
            </span>
            <span>Back to Board</span>
        </a>
        </p>
        <article class="media">
            <div id="thread-{{ thread.id }}" class="modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <p class="image is-4by3">
                    <img class="modal-image" src="{{ thread.image.url }}">
                    </p>
                </div>
                <button class="modal-close"></button>
            </div>
            <a class="image-preview" data-target="#thread-{{ thread.id }}">
                <figure class="media-left">
                    <p class="image is-64x64">
                    <img src="{{ thread.image.url }}">
                    </p>
                </figure>
            </a>
            <div class="media-content">
                <div class="content">
                    <p>
                    <strong>#{{ thread.id }}</strong>
                    <small>{{ thread.created_on }}</small>
                    <br>
                    {{ thread.content }}
                    <br>
                    </p>
                </div>
                {% for reply in thread.replies.all %}
                <article class="media">
                    {% if reply.image %}
                    <div id="reply-{{ reply.id }}" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <p class="image is-4by3">
                            <img class="modal-image" src="{{ reply.image.url }}">
                            </p>
                        </div>
                        <button class="modal-close"></button>
                    </div>
                    <a class="image-preview" data-target="#reply-{{ reply.id }}">
                        <figure class="media-left">
                            <p class="image is-64x64">
                            <img src="{{ reply.image.url }}">
                            </p>
                        </figure>
                    </a>
                    {% endif %}
                    <div class="media-content">
                        <div class="content">
                            <p>
                            <strong>#{{ reply.id }}</strong>
                            <small>{{ reply.created_on }}</small>
                            <br>
                            <span class="reply">{{ reply.content|urlize }}</span>
                            <br>
                            </p>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
        </article>
    </div>
</section>

<!-- Thread Reply Modal Form -->
<div class="modal" id="threadReplyModel">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Reply To Thread </p>
            <button class="delete"></button>
        </header>
        <form id="reply-form" method="post" enctype="multipart/form-data">
            <section class="modal-card-body">
                {% csrf_token %}
                <p class="control">
                    {% render_field form.content placeholder="Add your reply..." class+="textarea" %}
                </p>
                <div id="validation-error" class="notification is-danger" style="display: none;">
                    <button class="delete" type="button"></button>
                    <span>Please enter a reply, or provide an image response</span>
                </div>
                {% render_field form.captcha %}
                {% if form.captcha.errors %}
                {% for error in form.captcha.errors %}
                    <code style="color: #FF3860;"><span class="modal-error">{{ error }}</span></code>
                {% endfor %}
                {% endif %}
                {% if form.image.errors %}
                    {% for error in form.image.errors %}
                    <div class="notification is-danger">
                        <span class="modal-error">{{ error }}</span>
                    </div>
                    {% endfor %}
                {% endif %}
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" type="submit">
                    Create Thread
                </button>
                {% render_field form.image %}
            </footer>
        </form>
    </div>
</div>

<!-- Launch Thread Create Modal Button -->
<a class="show-modal floating-button" data-target="#threadReplyModel">
    <i style="line-height: 60px;" class="fa fa-plus"></i>
</a>

{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'image-gallery.js' %}"></script>
    <script src="{% static 'thread-reply.js' %}"></script>
    <script src="{% static 'modals.js' %}"></script>
{% endblock %}
