{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <article class="media">
        <div id="thread-{{ thread.id }}" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <p class="image is-4by3">
                <img src="{{ thread.image.url }}">
                </p>
            </div>
            <button class="modal-close"></button>
        </div>
        <a class="image-preview" data-target="#thread-{{ thread.id }}">
            <figure class="media-left">
                <p class="image is-64x64">
                <img src="{{ thread.image.url }}">
                </p>
            </figure>
        </a>
        <div class="media-content">
            <div class="content">
                <p>
                <strong>#{{ thread.id }}</strong>
                <small>{{ thread.created_on }}</small>
                <br>
                {{ thread.content }}
                <br>
                </p>
            </div>
            {% for reply in thread.replies.all %}
            <article class="media">
                {% if reply.image %}
                    <div id="reply-{{ reply.id }}" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <p class="image is-4by3">
                            <img src="{{ reply.image.url }}">
                            </p>
                        </div>
                        <button class="modal-close"></button>
                    </div>
                    <a class="image-preview" data-target="#reply-{{ reply.id }}">
                        <figure class="media-left">
                            <p class="image is-64x64">
                            <img src="{{ reply.image.url }}">
                            </p>
                        </figure>
                    </a>
                {% endif %}
                <div class="media-content">
                    <div class="content">
                        <p>
                        <strong>#{{ reply.id }}</strong>
                        <small>{{ reply.created_on }}</small>
                        <br>
                        {{ reply.content }}
                        <br>
                        </p>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </article>
    <article class="media">
        <div class="media-content">
            <p class="control">
            <textarea class="textarea" placeholder="Add a comment..."></textarea>
            </p>
            <p class="control">
            <button class="button">Post Reply</button>
            </p>
        </div>
    </article>
</div>
<form action="{% url "boards:thread-reply" thread.board.slug thread.pk %}" style="display: inline">
    <button type="submit" class="button">Reply</button>
</form>
<form action="{% url "boards:board-detail" thread.board.slug %}" style="display: inline">
    <button type="submit" class="button">Back to Board Catalog</button>
</form>


{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'toggle_modal.js' %}"></script>
{% endblock %}
