<!DOCTYPE html>
{% load staticfiles %}
{% load board_tags %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pychan{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'node_modules/bulma/css/bulma.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="shortcut icon" type="image/png" href="{% static "logo.png" %}"/>
    </head>
    <style type="text/css">
    </style>
    <body>
        <nav class="nav has-shadow">
            <div class="container is-fluid">
                <div class="nav-left">
                    {% show_boards %}
                </div>
                <div class="nav-right">
                    {% if request.user.is_authenticated %}
                        <span class="nav-item">Logged in as {{ user }}</span>
                        <a class="nav-item is-tab" href="{% url 'boards:logout' %}?next={% firstof request.path '/' %}">Logout</a>
                    {% else %}
                        <a class="nav-item is-tab" href="{% url 'boards:login' %}?next={% firstof request.path '/' %}">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock content %}
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <p><strong>PyChan</strong> by <a href="https://jackevansevo.github.io/">Jack Evans</a></p>
                    <p><a class="icon" href="https://github.com/Jackevansevo"><i class="fa fa-github"></i></a></p>
                </div>
            </div>
        </footer>
    </body>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {% endblock scripts %}
</html>
