<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8"> 
        <title>{% block title %}Pychan{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'node_modules/hack/dist/hack.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body class="hack">
        {% block content %}
        {% endblock %}
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
    {% block scripts %}
    {% endblock %}
</html>
