{% extends "base.html" %}
{% load style-forms %}
{% block content %}
{% load style-forms %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        {% if field.errors %}
        <fieldset class="form-group form-error">
            {{ field.label_tag }}
            {{ field | addClass:"form-control" }}
            <div class="help-block">
                {{ field.errors.as_text }}
            </div>
        </fieldset>
        {% else %}
        <fieldset class="form-group">
            {{ field.label_tag }}
            {{ field | addClass:"form-control" }}
        </fieldset>
        {% endif %}
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
    <p style="color: #f44336;">{{ form.non_field_errors.as_text }}</p>
</div>
{% endblock %}
